<a href="https://colab.research.google.com/github/NahLima/python-para-analise-dados/blob/main/cap4_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
my_arr = np.arange(100000)

In [4]:
my_list = list(range(100000))

Multiplicando cada sequencia por 2

In [5]:
%time for _ in range(10) : my_arr2 = my_arr * 2

CPU times: user 1.45 ms, sys: 1.68 ms, total: 3.13 ms
Wall time: 7.4 ms

In [6]:
%time for _ in range(10): my_list2 = [x * 2 for x in my_list]

CPU times: user 75.5 ms, sys: 12.7 ms, total: 88.2 ms
Wall time: 89.8 ms