### Desafio: Rendimento Ações

---

**Definição do problema:** Você está trabalhando num banco e preciso informar ao seu cliente que ano foi a maior rentabilidade de dividendo pago por ação da empresa Johnson&Jonson

<ol>
    <li> Agregar os rendimentos de um mesmo ano </li>
    <li> Calcular a valorização do rendimento de um ano para outro </li>
    <li> Informar o ano de maior rentabilidade </li>
</ol>

**Código do dataset:** JohnsonJohnson

**Dicas:**
<ul>
    <li> Criar uma nova representação dos dados, onde a informação é anual  </li>
    <li> Criar uma nova coluna informando a valorização anual </li>
    <li> numpy.trunc() </li>
    <li> método .shift() </li>
    <li> método .idxmax() </li>
</ul>

---

**Passo 1:** Importar as bibliotecas

In [1]:
import pandas as pd
import numpy as np
from pydataset import data

**Passo 2:** Importar o dataset e verificar sua estrutura

In [2]:
df = data('JohnsonJohnson') # dividendo por ação
df.head()

      time  JohnsonJohnson
1  1960.00            0.71
2  1960.25            0.63
3  1960.50            0.85
4  1960.75            0.44
5  1961.00            0.61

**Passo 3:** Renomeia as colunas

In [11]:
df.columns = ['Trimestre', 'Dividendo'] # dividendo por ação
df.head()

      Trimestre  Dividendo
Ano
1960       2.63   0.000000
1961       2.77   0.053232
1962       3.01   0.086643
1963       3.40   0.129568
1964       4.16   0.223529

**Passo 4:** Agrupa os rendimentos trimestrais por ano.

In [4]:
''' Cria a nova coluna ano, como os valores da coluna trimestre são float, podemos utilizar a função trunc
que retira a parte fracionária do valor '''

df['Ano'] = np.trunc(df['Trimestre']).astype('int')

'''Como não utilizaremos mais a coluna trimeste, vamos deletar '''
df = df.drop('Trimestre', axis=1)
df.head()

   Dividendo   Ano
1       0.71  1960
2       0.63  1960
3       0.85  1960
4       0.44  1960
5       0.61  1961

In [5]:
''' Agrupa por ano e soma os valores agrupados ''' 
df = df.groupby(by = 'Ano').sum()
df.head()

      Dividendo
Ano
1960       2.63
1961       2.77
1962       3.01
1963       3.40
1964       4.16

**Passo 5:** Cria a nova coluna com a valorização

In [6]:
''' cria a coluna com o valor da valorização do rendimento por ação
a função shift desloca uma posição os valores, com isso é possível dividir diretamente o valor do ano atual, 
pelo ano anterior. '''

df['Valorização'] = df['Dividendo'].div(df['Dividendo'].shift()).fillna(1) - 1
df.style.format({'Dividendo' : '{:.2f}', 'Valorização' : '{:.2%}'})

In [7]:
''' Somente para visualizar o que ocorre após o uso função shift '''

df['Dividendo'].shift(periods=1)

Ano
1960      NaN
1961     2.63
1962     2.77
1963     3.01
1964     3.40
1965     4.16
1966     5.16
1967     6.06
1968     6.81
1969     8.19
1970     9.54
1971    13.50
1972    16.29
1973    19.35
1974    23.31
1975    25.20
1976    28.62
1977    31.77
1978    38.07
1979    45.00
1980    51.84
Name: Dividendo, dtype: float64

In [8]:
df['Dividendo'].shift(periods=2)

Ano
1960      NaN
1961      NaN
1962     2.63
1963     2.77
1964     3.01
1965     3.40
1966     4.16
1967     5.16
1968     6.06
1969     6.81
1970     8.19
1971     9.54
1972    13.50
1973    16.29
1974    19.35
1975    23.31
1976    25.20
1977    28.62
1978    31.77
1979    38.07
1980    45.00
Name: Dividendo, dtype: float64

**Passo 6:** Informa o ano de maior valorização

In [9]:
idx = df['Valorização'].idxmax()
print("O ano que teve a maior valorização no pagamento por ação da Johnson&Johnson foi: %s" % (idx))

O ano que teve a maior valorização no pagamento por ação da Johnson&Johnson foi: 1970