<a href="https://colab.research.google.com/github/NahLima/python-para-analise-dados/blob/main/Python_para_Data_Science_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [1]:
!python --version

Python 3.8.5

# 1.3 Trabalhando com dados

In [2]:
import pandas as pd
#pd.set_option('display.max_rows',10000)  # vc consegue definir quantas linhas quer ver
#pd.set_option('display.max_collumns',10000) # vc consegue definir quantas colunas quer ver

In [4]:
dataset = pd.read_csv('../dados/db.csv', sep = ';')  #usamos o sep para dizer qual é o separador utilizado
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [5]:
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [6]:
# O describe() Gera estatísticas descritivas. 
# Estatísticas descritivas incluem aquelas que resumem a tendência central, 
# dispersão e forma da distribuição de um conjunto de dados, excluindo os valores de NaN.

dataset[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [7]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [8]:
()

()

In [9]:
1, 2, 3

(1, 2, 3)

In [10]:
nome = 'Passat'
valor = 153000
(nome,valor)

('Passat', 153000)

In [11]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [12]:
type(nomes_carros)

tuple

# 2.2 Seleções em tuplas

In [ ]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [ ]:
nomes_carros[0]

'Jetta Variant'

In [ ]:
nomes_carros[1]

'Passat'

In [ ]:
nomes_carros[-1]

'DS5'

In [ ]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [ ]:
nomes_carros2 = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros2

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [ ]:
nomes_carros2[4]

('Fusca', 'Gol', 'C4')

In [ ]:
nomes_carros2[4][2]

'C4'

In [ ]:
nomes_carros2[-1][1]

'Gol'

# 2.3 Iterando em tuplas

In [ ]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

**Exercício extra**

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [ ]:
carros[0][3]

False

In [ ]:
carros[-1][-1][-1]

'Freios ABS'

In [ ]:
carros[0][-1][:2]

('Rodas de liga', 'Travas elétricas')

### Desempacotamento de tuplas

In [14]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [15]:
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

In [16]:
carro1, carro2, carro3, carro4 = nomes_carros

In [17]:
carro1

'Jetta Variant'

In [18]:
carro2

'Passat'

In [ ]:
carro3

'Crossfox'

In [ ]:
carro4

'DS5'

In [19]:
_, A, _, B = nomes_carros # o _ ignora alguns valores

In [ ]:
A

'Passat'

In [ ]:
B

'DS5'

In [20]:
_ # o _ retorna o ultimo valor

'Crossfox'

In [23]:
# https://docs.python.org/2/tutorial/controlflow.html#arbitrary-argument-lists
# Com relação à sintaxe de * e **: Os nomes *args e **kwargs são apenas por convenção.

_, C, *_ = nomes_carros

In [22]:
C

'Passat'

## *zip()*  Cria um iterador com tuplas

https://docs.python.org/3.6/library/functions.html#zip

In [25]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [26]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [27]:
# A função zip() retorna um objeto zip, que é um iterador de tuplas onde o primeiro item em cada iterador passado é emparelhado e, 
# em seguida, o segundo item em cada iterador passado é emparelhado etc

zip(carros, valores)

In [29]:
#A função list() cria um objeto de lista. Um objeto de lista é uma coleção que é ordenada e mutável.

list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [30]:
for item in zip(carros, valores):
  print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [31]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [32]:
for carro, valor in zip(carros, valores):
  if(valor > 100000):
    print(carro, valor)

Passat 106161.94
DS5 124549.07

**Exercício extra**

In [ ]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [ ]:
for tupla in carros:
    print(tupla)

('Jetta Variant', 'Motor 4.0 Turbo', 2003, False, ('Rodas de liga', 'Travas elétricas', 'Piloto automático'))
('Passat', 'Motor Diesel', 1991, True, ('Central multimídia', 'Teto panorâmico', 'Freios ABS'))

In [ ]:
for tupla in carros:
    print(tupla[-1])

('Rodas de liga', 'Travas elétricas', 'Piloto automático')
('Central multimídia', 'Teto panorâmico', 'Freios ABS')

In [ ]:
for tupla in carros:
    for item in tupla:
        print(item)

Jetta Variant
Motor 4.0 Turbo
2003
False
('Rodas de liga', 'Travas elétricas', 'Piloto automático')
Passat
Motor Diesel
1991
True
('Central multimídia', 'Teto panorâmico', 'Freios ABS')

In [ ]:
for tupla in carros:
    for item in tupla[-1]:
        print(item)

Rodas de liga
Travas elétricas
Piloto automático
Central multimídia
Teto panorâmico
Freios ABS

**Exercício extra 2**

In [33]:
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [34]:
for nome, km in zip(nomes, kms):
    if(km < 20000):
        print(nome)

Passat
Crossfox
C4

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [13]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [14]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [15]:
carros.index("Passat")

1

In [16]:
valores[carros.index("Passat")]

106161.94

In [17]:
list_to_dict = dict(zip(carros, valores)) #transforma as listas em um único dicionário
print(list_to_dict)

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [30]:
carros = ['Jetta Variant', 'Passat', 'Crossfox'] #transforma as listas em um único dicionário
valores = [88078.64, 106161.94, 72832.16]

dict_from_list = {}
for i in range(len(carros)):
  dict_from_list[carros[i]] = valores[i]

print(dict_from_list)

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [49]:
carros = ['Jetta Variant', 'Passat', 'Crossfox'] #transforma as listas em um único dicionário
valores = [88078.64, 106161.94, 72832.16]

dict_from_list = {k: v for k, v in zip(carros, valores)}
print(dict_from_list)

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

### Criando dicionários com *zip()*

In [50]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [51]:
dados = dict(zip(carros, valores))
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [52]:
dados["Passat"]

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [36]:
"Passat" in dados

True

In [37]:
"Fusca" in dados

False

In [38]:
"Fusca" not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [39]:
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [53]:
dados["DS5"] = 124549.07

In [54]:
dados

{'Crossfox': 72832.16,
 'DS5': 124549.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [76]:
dados

{'Crossfox': {'ano': 2015, 'km': 35000, 'valor': 25000},
 'Passat': {'acessorios': ['Airbag', 'ABS'],
  'ano': 2012,
  'km': 50000,
  'valor': 75000}}

In [56]:
del dados["Passat"]

In [57]:
dados

{'Crossfox': 72832.16, 'DS5': 124549.07, 'Jetta Variant': 88078.64}

**Exercício extra**

In [71]:
dados2 = {
    'Passat': {
        'ano': 2012,
        'km': 50000,
        'valor': 75000,
        'acessorios': ['Airbag', 'ABS']
    }, 
    'Crossfox': {
        'ano': 2015,
        'km': 35000,
        'valor': 25000
    }
}

In [72]:
"acessorios" in dados2["Crossfox"] #Testar se a chave acessorios existe no dicionário de informações do carro Crossfox

False

In [73]:
"acessorios" in dados2["Passat"] #Testar se a chave acessorios existe no dicionário de informações do carro Passat

True

In [74]:
dados2["Crossfox"]["valor"] #Obter o valor do carro Crossfox

25000

In [75]:
dados2["Passat"]["acessorios"][-1]

'ABS'

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [37]:
list_to_dict = dict(zip(carros, valores)) #transforma as listas em um único dicionário
print(list_to_dict)

{'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [38]:
list_to_dict.update({'DS5':124549.07})
list_to_dict

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

In [39]:
list_to_dict.update({'DS5':124549.80, 'Fusca': 125689.95})
list_to_dict

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.8,
 'Fusca': 125689.95}

## *dict.copy()*

Cria uma cópia do dicionário.

In [40]:
dadosCopy = list_to_dict.copy()
dadosCopy

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.8,
 'Fusca': 125689.95}

In [44]:
del dadosCopy['Fusca']
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.8}

In [45]:
list_to_dict

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.8,
 'Fusca': 125689.95}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [46]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.8}

In [47]:
dadosCopy.pop('Passat') #gera um erro porque não existe

KeyError: 'Passat'

In [48]:
dadosCopy.pop('Passat', 'Chave não encontrada')

'Chave não encontrada'

In [ ]:
dadosCopy.pop('DS5', 'Chave não encontrada')

In [94]:
dadosCopy

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64}

## *dict.clear()*

Remove todos os itens do dicionário.

In [95]:
dadosCopy.clear()

In [96]:
dadosCopy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [97]:
dadosCarros = {'Crossfox': 72832.16, 'DS5': 124549.8, 'Fusca': 125689.95, 'Jetta Variant': 88078.64, 'Passat': 106161.94}
dadosCarros

{'Crossfox': 72832.16,
 'DS5': 124549.8,
 'Fusca': 125689.95,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [98]:
dadosCarros.keys()

dict_keys(['Crossfox', 'DS5', 'Fusca', 'Jetta Variant', 'Passat'])

In [101]:
for key in dadosCarros.keys():
  print(dadosCarros[key])

72832.16
124549.8
125689.95
88078.64
106161.94

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [102]:
dadosCarros.values()

dict_values([72832.16, 124549.8, 125689.95, 88078.64, 106161.94])

## *dict.items()*

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [103]:
dadosCarros.items()

dict_items([('Crossfox', 72832.16), ('DS5', 124549.8), ('Fusca', 125689.95), ('Jetta Variant', 88078.64), ('Passat', 106161.94)])

In [105]:
for item in dadosCarros.items():
  print(item)

('Crossfox', 72832.16)
('DS5', 124549.8)
('Fusca', 125689.95)
('Jetta Variant', 88078.64)
('Passat', 106161.94)

In [106]:
for k, v in dadosCarros.items():
  print(k, v)

Crossfox 72832.16
DS5 124549.8
Fusca 125689.95
Jetta Variant 88078.64
Passat 106161.94

In [107]:
for k, v in dadosCarros.items():
  if( v > 100000):
    print(k, v)

DS5 124549.8
Fusca 125689.95
Passat 106161.94

**Exercício extra**

In [108]:
dadosCarros2 = {
    'Crossfox': {'valor': 72000, 'ano': 2005}, 
    'DS5': {'valor': 125000, 'ano': 2015}, 
    'Fusca': {'valor': 150000, 'ano': 1976}, 
    'Jetta': {'valor': 88000, 'ano': 2010}, 
    'Passat': {'valor': 106000, 'ano': 1998}
}

In [110]:
#Selecione a alternativa que apresenta o código que imprime somente os
# nomes dos veículos com ano de fabricação maior ou igual a 2000.

In [133]:
for k, v in dadosCarros2.items():
  if v['ano'] >= 2000:
    print(k)

Crossfox
DS5
Jetta

In [129]:
for item in dadosCarros2.items():
    if(item[1]['ano'] >= 2000):
        print(item[0])

Crossfox
DS5
Jetta

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [134]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [140]:
valores = []

for v in dados.values():
  valores.append(v)

valores

[88078.64, 106161.94, 72832.16]

In [143]:
list( dados.values())

[88078.64, 106161.94, 72832.16]

In [141]:
soma = 0

for valor in dados.values():
  soma += valor
soma

267072.74

In [142]:
sum(dados.values())

267072.74

In [145]:
sum(dados.values(), 7072.74)

274145.48

In [148]:
def subtract (x,y):
  total = x - y
  return total

teste = subtract(sum(dados.values()),7072.74 )
teste

260000.0

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [152]:
def media():
  valor = (1 + 2 + 3)/3
  return valor

media()

2.0

In [153]:
def media(lista):
  valor = sum(lista) / len(lista)
  return valor

num = [ 2, 5, 8, 9, 10]

media(num)

6.8

In [154]:
type(media(num))

float

**Exercício extra**

In [166]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

In [156]:
#A estrutura a seguir é a definição de uma função que obtém e imprime a quilometragem média anual 
#de cada veículo em um dicionário com a estrutura do dicionário dados acima

In [157]:
# km media = kmtotal / ano atual - ano fabricado

In [213]:
def km_media(dataset, ano_atual):
    for item in dataset.items():
        result = item[1]['km'] / (ano_atual - item[1]['ano'])
        print(result)

In [219]:
km_media(dados, 2019)

2500.0
4250.0
3250.0
7000.0
3100.0

### Funções que retornam mais de 1 valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [221]:
def media(lista):
  valor = sum(lista) / len(lista)
  return (valor, len(lista))
media([ 5, 7, 8, 9])

(7.25, 4)

In [222]:
resultado, n = media([ 5, 7, 8, 9])

In [223]:
resultado

7.25

In [224]:
n

4

**Exercicio extra**

In [225]:
dados = {
    'Crossfox': {'km': 35000, 'ano': 2005}, 
    'DS5': {'km': 17000, 'ano': 2015}, 
    'Fusca': {'km': 130000, 'ano': 1979}, 
    'Jetta': {'km': 56000, 'ano': 2011}, 
    'Passat': {'km': 62000, 'ano': 1999}
}

retorne o output esperado:
{'Crossfox': 2500.0,
 'DS5': 4250.0,
 'Fusca': 3250.0,
 'Jetta': 7000.0,
 'Passat': 3100.0}

In [241]:
def km_media(dataset, ano_atual):
    result = {}
    for item in dataset.items():
        media = item[1]['km'] / (ano_atual - item[1]['ano'])
        result.update({ item[0]: media })
    return result

In [242]:
km_media(dados,2019)

{'Crossfox': 2500.0,
 'DS5': 4250.0,
 'Fusca': 3250.0,
 'Jetta': 7000.0,
 'Passat': 3100.0}